body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    /*background-image: url(https://source.unsplash.com/1600x900/?landscape); */
    background-image: url(images/up29.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*label{
    position: absolute;
    top: 15px;
    color: #5372f0;
    font-size: 38px;
    font-family: 'Climate Crisis', cursive;
    cursor: pointer;
}

label:hover{
    color: white;
} */


.sec{
    background-color: #f0f8ffd0;
    color: white;
    padding: 2em;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    font-family: 'Caveat', cursive;
    animation: fade-up 0.5s;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}


.upperbox{
    background: #000000d0;
    padding: 30px;
    margin: 30px;
    border-radius: 30px;
}

#com1{
    margin-bottom: 10px;
}

#com2{
    margin-left: 280px;
    margin-top: 10px;
}

.box{
    font-size: 1.8rem;
}

.authorname{
    position: relative;
    margin-top: 20px;
    margin-left: 200px;
    font-size: 19px;
}

.quotechanger{
    font-size: 17px;
    height: 47px;
    width: 150px;
    display: flex;
    cursor: pointer;
    color: #5372f0;
    align-items: center;
    justify-content: center;
    border: 2px solid #5372f0;
    transition: all 0.3s ease;
    border-radius: 30px;
}

.quotechanger:hover{
    color: #fff;
    background: #5372f0;
}

.specs{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.specs ul{
    display: flex;
}

.specs ul li{
    list-style: none;
    margin: 0 5px;
    height: 47px;
    width: 47px;
    display: flex;
    cursor: pointer;
    color: #5372f0;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    border: 2px solid #5372f0;
    transition: all 0.3s ease;
}

.specs ul li:hover{
    color: #fff;
    background: #5372f0;
}

